@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
.fonte{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    .navbar{
        width: 50%
    }

    .conainer-brasao{
        width: 70%
    }
    

}

body{
    background-color: #f6f6f6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #0C326F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
    box-shadow: 0 0 5px 0 black;
}

footer {
    background-color: #f2f2f2;
}

footer h1 {
    justify-content: center;
    display: flex;
}

footer ul {
    margin-left: 120px;
    list-style: none;
    margin-bottom: 10px;
}

.brasao-imagem{
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-left: 15px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.container-brasao img {
    width: 7vw;
    height: 15vh;
}

.botao_login{
    width: 78px;
    height: 45px;
    background: #00000000;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
    font-optical-sizing: auto;
    /* border: 1px solid black; */
    cursor: pointer;
}

.botao_login:hover{
    transform: scale(1.2);
    font-optical-sizing: auto;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(100, 100, 100, 0.5);
}

.container-brasao{
    display: flex;
    align-items: center;
}


.menu .fonte{
    display: flex;
    margin: 10px 3vh;
    color: #FFFFFF;
}

.menu .fonte a{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 2px 5px 10px 27px;  
    /* border: 1px solid black; */
    cursor: default;
}


.login{
    display: block;
    justify-content: space-between;
    align-items: normal;
    min-height: 50vh;
    background: #f6f6f6
    
}

.aparencia{
    width: 420px;
    color: #333333;
    border-radius: 10px;
    padding: 30px 40px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top: 100px;
}

.aparencia h1{
    font-size: 36px;
    text-align: center;
    font-family: "Inter", sans-serif;;
}

.aparencia .input-box{
    width: 100%;
    height: 50px;
    background: #555555;
    margin: 25px 0;
    border-radius: 40px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color:#333333;
    padding: 20px 5px 20px 10px;
    text-align: center;
}

.input-box input::placeholder{
    color: #888888
}

.aparencia .esquecer-senha{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -25px 0 15px;
}

.esquecer-senha label input{
    accent-color: #fff;
    margin-right: 5px;
}

.esquecer-senha a{
    color: #333333;
    text-decoration: none;
}

.esquecer-senha a:hover{
    text-decoration: underline;
}

.aparencia .botao{
    width: 50%;
    height: 35px;
    background: #222222;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:#FFFFFF;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: 0.5s;
    transform: scale(1.1);
}

.aparencia .registro-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.registro-link p a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.registro-link p a:hover{
    text-decoration: underline;
}

.aparencia{
    width: 420px;
    color: #333333;
    border-radius: 10px;
    padding: 30px 40px;
}

.aparencia h1{
    font-size: 36px;
    text-align: center;
}

.aparencia .input-box{
    width: 100%;
    height: 50px;
    background: #c3d8ff;
    margin: 25px 0;
    border-radius: 40px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color:#333333;
    padding: 20px 5px 20px 10px;
    text-align: center;
}

.input-box input::placeholder{
    color: #7777778f;
    font-weight: bold;
}

.aparencia .esquecer-senha{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    transition: all 0.5s;
}

.esquecer-senha label input{
    accent-color: #fff;
    margin-right: 3px;
}

.esquecer-senha a{
    color: #333333;
    text-decoration: none;
}

.esquecer-senha a:hover{
    text-decoration: underline;
}

.aparencia .registro-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.registro-link p a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}

.registro-link p a:hover{
    text-decoration: underline;
}

.login_img img{
    width: 200px; 
    margin-bottom: -40px;
}

.login_img {
    display: flex;
    justify-content: center;
    
}

.separar {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

::-webkit-scrollbar {
    width: 0px;
}
