@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
.fonte{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    .navbar{
        width: 50%
    }

    .conainer-brasao{
        width: 70%
    }
    

}

body{
    background-color: #f6f6f6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #0C326F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
}

footer {
    background-color: #f2f2f2;
}

footer h1 {
    justify-content: center;
    display: flex;
}

footer ul {
    margin-left: 120px;
    list-style: none;
    margin-bottom: 10px;
}

.brasao-imagem{
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-left: 15px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 5;
}

.container-brasao img {
    width: 7vw;
    height: 15vh;
}

.botao_login{
    width: 78px;
    height: 45px;
    background: #00000000;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
    font-optical-sizing: auto;
    /* border: 1px solid black; */
    cursor: pointer;
}

.botao_login:hover{
    transform: scale(1.2);
    font-optical-sizing: auto;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(100, 100, 100, 0.5);
}

.container-brasao{
    display: flex;
    align-items: center;
}


.menu .fonte{
    display: flex;
    margin: 10px 3vh;
    color: #FFFFFF;
}

.menu .fonte a{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 2px 5px 10px 27px;  
    /* border: 1px solid black; */
    cursor: default;
}

    .home_brasao{
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(imagens/entrada-de-joinville.png);
        background-repeat: no-repeat;
        background-size:cover;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .fundinho{
        width: 100%;
        background-color:rgba(0, 0, 0, 0.466);
        position: absolute;
        height: 100%;
        
    }

    .home_brasao img {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 450px;
        align-items: center;
        z-index: 1;
    }
    
    .incial_img {
        justify-content: space-between;
        display: flex; 
    }

    .incial_img img{
        width: 600px;
        background-color: #f0f0f0;
        border-radius: 30px;
        border: 1px solid black;
    }

    .texto_home_1{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 45px;
        justify-content: space-between;
        font-weight: bold;
        color: #333333;
    }

    .texto_home_2{
        width: 75%;
    }

    .texto_home_2 p{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 30px;
        justify-content: space-between;
        color: #333333;
        font-weight: 500;
    }

    .Series_Home{
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 90px;
        align-items: center;
    }
    
    .quadrado1{
        display: inline-table;
        margin-left: -80px;
    
    }
    .Ensino_Home{
        display: flex;
        gap: 130px;
        justify-content: center;
        margin-top: 90px;   
        margin-bottom: 60px;
        margin-left: 10px;
        align-items: center;
    }

    .Acessar .botao_home{
        width: 20%;
        height: 45px;
        background: #222222;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin-top: 15px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        color: white;
        transition: 0.5s;  
    }

    .botao_home:hover {
        transform: scale(1.1);
        transition: 0.5s;
        background-color: rgb(0, 0, 0);   
    }
    

    /* Paginas */

    .container1{
        display: flex;
        margin: 100px 150px 0 150px
    }

    .container2{
        display: flex;
        margin: 40px 150px 0 150px;
        justify-content: center;
    }

    .container2 img{
        border-radius: 10px;
    }

    .container3{
        display: flex;
        margin: 40px 150px 0 150px;
        justify-content: space-between;
    }

    .container3 img{
        border-radius: 20px;
    }

    .container4 {
        display: flex;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: bold;
        margin: 60px 10px 10px 150px;
        gap: 900px;
        
    }

    .container5{
        display: flex;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: bold;
        margin: 60px 10px 10px 150px;
        gap: 790px;
    }

    .container6{
        display: flex;
        margin: 70px 0 0 -50px;
        
        
    }

    .subtitulo{
        font-size: 24px;
        color: #888888;
        margin-left: 30px
    }

    .titulo{
        font-size: 72px;
        margin: 10px 0 25px 25px;
        padding-left: 20px;
    }

    .bloco{
        
        display: flex;
        margin: 30px 150px 100px 150px;
    }

    .bloco-2{
        justify-content: space-between;
        display: flex;
        margin: 30px 10px 50px 150px;
        gap: 250px;
        
    }

    .bloco-3{
        justify-content: space-between;
        display: flex;
        margin: 30px 30px 50px 150px;
        gap: 47px;
    }

    h3{
        font-size: 24px;
        color: #001122
    }

    p{
        font-size: 24px;
        color: #666666;
        line-height: 2em; 
    }

    .descricao-1{
        display: flex;
        width: 1000px;

    }

    /* saiba mais */


   .saibamais{
        width: 1000px;

   }
    
   .saibamais li{
        list-style: none;
        width: 100%;
        margin: 20px;
        padding: 10px;
        border-radius: 8px;
        background: #F7F7F7;
        box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15),
                    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
   }

   .saibamais li label{
        display: flex;
        padding: 10px;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
   }

   label::before{
        content: '+';
        margin-right: 20px;
        font-weight: 700;
        font-size: 26px;
        color: #9f9c9c
   }

   input[type="radio"]{
        display: none
   }



   .saibamais .content{
        padding: 0 10px;
        line-height: 24px;
        max-height: 0;
        overflow: hidden;
        color: #555;
        transition: max-height 0.5s, padding 0.5s;
   }

   .saibamais input[type="radio"]:checked + label + .content{
        max-height: 400px;
        padding: 10px 10px 20px;
   }

   .saibamais input[type="radio"]:checked + label::before{
        content: '-';
   }

   ::-webkit-scrollbar {
        width: 0px;
}


#duvidas{
    width: 100%;
    display: inline-grid;
    justify-content: center;

}

.titulo_duvida h1{
    text-align: center;
    font-size: 35px;
    height: 60px;
}

