@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    .fonte{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: bold;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    header{
        background-color: #0C326F;
       
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 0;
    }

    footer {
        background-color: #f2f2f2;
    }

    footer h1 {
        justify-content: center;
        display: flex;
    }

    footer ul {
        margin-left: 120px;
        list-style: none;
    }

    .brasao-imagem{
        width: 9vh;
        height: 6vw;
        display: flex;
        
    }

    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
        
    }

    .botao_login{
        width: 60px;
        height: 45px;
        background: #ffffff00;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin-top: 15px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        
    }

    .container-brasao{
        display: flex;
        align-items: center;
    }

    .brasao-texto{
        margin-left: 7vh;
        color: #FFFFFF;
    }

    .menu li{
        display: inline-block;
        margin: 2px 2vh;
        color: #FFFFFF;
        font-size: 2vh;

    }

    .menu li a{
        display: flex;
        text-decoration: none;
        color: #FFFFFF;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 8px;  
    }

    .menu li a:hover{
        background-color: rgba(100, 100, 100, 0.5);
    }

    .home_brasao{
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_brasao img {
        width: 450px;
        margin-top: 90px;
    }
    
    .incial_img {
        justify-content: space-between;
        display: flex; 
    }

    .incial_img img{
        width: 600px;
        background-color: #f0f0f0;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .texto_home_1{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 45px;
        justify-content: space-between;
        font-weight: bold;
        color: #333333;
    }

    .texto_home_2{
        width: 85%;
    }

    .texto_home_2 p{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 30px;
        justify-content: space-between;
        color: #333333;
        font-weight: 500;
    }

    .Series_Incias{
        display: flex;
        
        gap: 30px;
        justify-content: center;
        margin-top: 90px;
        align-items: center;
    }
    
    .quadrado1{
        display: inline-table;
        margin-left: -80px;
    
    }
    .Ensino_Home{
        display: flex;
       
        gap: 130px;
        justify-content: center;
        margin-top: 90px;   
        margin-bottom: 60px;
        margin-left: 10px;
        align-items: center;
    }

    .Acessar .botao_home{
        width: 20%;
        height: 45px;
        background: #222222;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin-top: 15px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        color: white;
        
    }

    .duvidas{
        display: flex;
        justify-content: center;
        font-size: 35px;
        
        
    }

/*login*/

    .login{
        display: block;
        justify-content: space-between;
        align-items: normal;
        min-height: 100vh;
        background: rgb(255, 255, 255)
        
    }

    .aparencia{
        width: 420px;
        color: #333333;
        border-radius: 10px;
        padding: 30px 40px;
        border: 5px solid black
    }

    .aparencia h1{
        font-size: 36px;
        text-align: center;
    }

    .aparencia .input-box{
        width: 100%;
        height: 50px;
        background: #DAFF94;
        margin: 25px 0;
        border-radius: 40px;
    }

    .input-box input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 40px;
        font-size: 16px;
        color:#333333;
        padding: 20px 5px 20px 10px;
        text-align: center;
    }

    .input-box input::placeholder{
        color: #888888
    }

    .aparencia .esquecer-senha{
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
    }

    .esquecer-senha label input{
        accent-color: #fff;
        margin-right: 3px;
    }

    .esquecer-senha a{
        color: #333333;
        text-decoration: none;
    }

    .esquecer-senha a:hover{
        text-decoration: underline;
    }

    .aparencia .botao{
        width: 50%;
        height: 35px;
        background: #222222;
        border: none;
        outline: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color:#FFFFFF;
        font-weight: 600;
        margin-left: 80px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .aparencia .registro-link{
        font-size: 14.5px;
        text-align: center;
        margin-top: 20px 0 15px;
    }

    .registro-link p a {
        text-decoration: none;
        color: #333333;
        font-weight: 600;
    }

    .registro-link p a:hover{
        text-decoration: underline;
    }

    .aparencia{
        width: 420px;
        color: #333333;
        border-radius: 10px;
        padding: 30px 40px;
    }

    .aparencia h1{
        font-size: 36px;
        text-align: center;
    }

    .aparencia .input-box{
        width: 100%;
        height: 50px;
        background: #DAFF94;
        margin: 25px 0;
        border-radius: 40px;
    }

    .input-box input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 40px;
        font-size: 16px;
        color:#333333;
        padding: 20px 5px 20px 10px;
        text-align: center;
    }

    .input-box input::placeholder{
        color: #888888
    }

    .aparencia .esquecer-senha{
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
        transition: all 0.5s;
    }

    .esquecer-senha label input{
        accent-color: #fff;
        margin-right: 3px;
    }

    .esquecer-senha a{
        color: #333333;
        text-decoration: none;
    }

    .esquecer-senha a:hover{
        text-decoration: underline;
    }

    .aparencia .registro-link{
        font-size: 14.5px;
        text-align: center;
        margin-top: 20px 0 15px;
    }

    .registro-link p a {
        text-decoration: none;
        color: #333333;
        font-weight: 600;
    }

    .registro-link p a:hover{
        text-decoration: underline;
    }

    .login_img img{
        width: 200px; 
    }

    .login_img {
        display: flex;
        justify-content: center;
        
    }

    .separar {
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }

    /* Paginas */

    .container1{
        display: flex;
        margin: 100px 150px 0 150px
    }

    .container2{
        display: flex;
        margin: 40px 150px 0 150px;
        justify-content: center;
    }

    .container2 img{
        border-radius: 10px;
    }

    .container3{
        display: flex;
        margin: 40px 150px 0 150px;
        justify-content: space-between;
    }

    .container3 img{
        border-radius: 20px;
    }

    .container4 {
        display: flex;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: bold;
        margin: 60px 10px 10px 150px;
        gap: 900px;
        
    }

    .container5{
        display: flex;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: bold;
        margin: 60px 10px 10px 150px;
        gap: 790px;
    }

    .subtitulo{
        font-size: 24px;
        color: #888888;
        margin-left: 30px
    }

    .titulo{
        font-size: 72px;
        margin: 10px 0 25px 25px;
        padding-left: 20px;
    }

    .bloco{
        
        display: flex;
        margin: 30px 150px 100px 150px;
    }

    .bloco-2{
        justify-content: space-between;
        display: flex;
        margin: 30px 10px 50px 150px;
        gap: 300px;
        
    }

    .bloco-3{
        justify-content: space-between;
        display: flex;
        margin: 30px 30px 50px 150px;
        gap: 500px;
    }

    h3{
        font-size: 24px;
        color: #001122
    }

    p{
        font-size: 24px;
        color: #666666;
        line-height: 2em;
        
    }